{% load static %}

<div class="bgded overlay row4" style="background-color: #000000;">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="center btmspace-50">
            <h6 class="heading">Foxclore</h6>
            <ul class="faico clear">
                <li><a class="faicon-dribble" href="#"><i class="fab fa-dribbble"></i></a></li>
                <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
            </ul>
            <p class="nospace">Sed pellentesque in nisi nulla facilisi sed pretium duis varius ut ut.</p>
        </div>
        <!-- ################################################################################################ -->
        <hr class="btmspace-50">
        <!-- ################################################################################################ -->
        <div class="one_quarter first">
            <h6 class="heading">Nunc neque pellentesque</h6>
            <p class="nospace btmspace-15">Interdum velit vitae pede aliquam mollis neque ut ullamcorper tempor
                dolor.</p>
            <form action="#" method="post">
                <fieldset>
                    <legend>Newsletter:</legend>
                    <label>
                        <input type="text" value="" placeholder="Name&hellip;">
                    </label>
                    <label>
                        <input type="text" value="" placeholder="Email&hellip;">
                    </label>
                    <button type="submit" value="submit">Submit</button>
                </fieldset>
            </form>
        </div>
        <div class="one_quarter">
            <h6 class="heading">Tortor varius nisi</h6>
            <ul class="nospace linklist">
                <li>
                    <article>
                        <p class="nospace btmspace-10 text-decoration-none"><a href="#">Id euismod est risus ac neque aliquam erat volutpat
                            pellentesque adipiscing.</a></p>
                        <time class="block font-xs" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
                    </article>
                </li>
                <li>
                    <article>
                        <p class="nospace btmspace-10 text-decoration-none"><a href="#">Nunc hendrerit adipiscing nulla donec vestibulum odio
                            quisque gravida morbi.</a></p>
                        <time class="block font-xs" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
                    </article>
                </li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="heading">Vel condimentum auctor</h6>
            <ul class="nospace linklist">
                <li><a href="#">Hendrerit id lacus praesent</a></li>
                <li><a href="#">Ullamcorper risus gravida</a></li>
                <li><a href="#">Suscipit tempor turpis</a></li>
                <li><a href="#">Pede dictum ipsum vel auctor</a></li>
                <li><a href="#">Leo est tincidunt est sed</a></li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="heading">Nunc sapien varius</h6>
            <ul class="nospace clear latestimg">
                <li><a class="imgover" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="{% static 'images/demo/100x100.png' %}" alt=""></a></li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>


